<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bps4</display-name>
  <welcome-file-list>
    <welcome-file>Main.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Validator</display-name>
    <servlet-name>Validator</servlet-name>
    <servlet-class>controller.Validator</servlet-class>
    <init-param>
      <description></description>
      <param-name>username</param-name>
      <param-value>system</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>password</param-name>
      <param-value>password-1</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validator</servlet-name>
    <url-pattern>/Validator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validatorbillpay</display-name>
    <servlet-name>Validatorbillpay</servlet-name>
    <servlet-class>controller.Validatorbillpay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validatorbillpay</servlet-name>
    <url-pattern>/Validatorbillpay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validatorcusreg</display-name>
    <servlet-name>Validatorcusreg</servlet-name>
    <servlet-class>controller.Validatorcusreg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validatorcusreg</servlet-name>
    <url-pattern>/Validatorcusreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validatorcusupd</display-name>
    <servlet-name>Validatorcusupd</servlet-name>
    <servlet-class>controller.Validatorcusupd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validatorcusupd</servlet-name>
    <url-pattern>/Validatorcusupd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validatorvenreg</display-name>
    <servlet-name>Validatorvenreg</servlet-name>
    <servlet-class>controller.Validatorvenreg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validatorvenreg</servlet-name>
    <url-pattern>/Validatorvenreg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validatorvenupd</display-name>
    <servlet-name>Validatorvenupd</servlet-name>
    <servlet-class>controller.Validatorvenupd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validatorvenupd</servlet-name>
    <url-pattern>/Validatorvenupd</url-pattern>
  </servlet-mapping>
</web-app>